*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --cor0:#070B22;
    --cor1:#1B1F37;
    --cor2:#30344C;
    --cor3:#0c2d26;
    --cor4:#444860;
    --cor5:#444860;
    --cor7:#fff;
    --cor8:#ccc;
    --cor9:#f1f1f1;
    --cor10:#f1f5f9;
    --cor11:#c2410c;
    --cor12:#eab308;
    
    
}



header{
    width: 100%;
    height: 110vh;
    background-color: var(--cor1);
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../assets/image8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    width:100%;
    height: 80px;
    border-bottom: 1px solid var(--cor2);
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__Container{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__Container .website__title {
    color: var(--cor7);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__Container ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.header__Container li a{
    text-decoration: none;
    color: var(--cor7);
    font-size: 20px;
    text-transform: capitalize;
    opacity: 50%;
}
.header__Container li a:hover{
    cursor: pointer;
    color: var(--cor7);
    opacity: 100%;
}
.header__Container .selected{
    color: var(--cor7);
    font-weight: bold;
    opacity: 100%;
}
.login__button{
    width: fit-content;
    padding: 10px;
    background-color: var(--cor4);
    font-weight: bold;
    border-radius: 10px;
    color: var(--cor7);
}

.login__button:hover{
    cursor: pointer;
    background-color: var(--cor7);
    color: var(--cor1);
}

.content__header{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
}

.content__header__container{
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title__header__top{
    font-size: 24px;
    color: var(--cor8);
}
.title__header__center{
    color: var(--cor7);
    text-align: center;
    font-size: 24px;
}
.title__header__bottom{
    font-size: 24px;
    color: var(--cor8);
}


/*-----------------------*/

.container__beneficios{
 width: 100%;
 height: 250px;
 margin-top: 10px;
 background-color: var(--cor7);
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
}

.container__beneficios h1{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--cor2);
}

.container__beneficios span{
    margin-top: 10px;
    color: var(--cor2);
}

.container__beneficios__content{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.beneficio__content{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.beneficio__content h2{
    font-size: 20px;
    color: var(--cor5);
}

.beneficio__icon{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor5);
    border-radius: 50%;
}

.course__popular{
    width: 100%;
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
}

.container__course__popular{
    width: 1100px;
    padding: 20px;
}

.course__popular__header{
    display: flex;
    justify-content: space-between;
}

.header__left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__left h1{
    color: var(--cor7);
}

.header__left span{
    color: var(--cor8);
}

.courses__container{
 margin-top: 20px;
 display: grid;
 grid-template-columns:repeat(3,1fr);
 gap: 15px;
}

.course__card__container{
    width: 350px;
    height: fit-content;
    border: 1.2px solid var(--cor7);
    background-color: var(--cor0);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 20px;
}


.course__card__container .course__card__header{
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 5px;

}

.course__card__header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.course__content{
    padding: 10px ;
}
.name__course__stars{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.name__course__stars h2{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--cor8);
    margin-top: 10px;
}

.name__course__stars {

    font-size: 22px;
    color: var(--cor8);

}

.star__area{
    display: flex;
    align-items: center;
    gap: 8px;
}
.name__course__stars__star{
    display: flex;
    align-items: center;
    color:var(--cor12) ;
    font-size: 30px;
    margin-top: 10px;
}

.course__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px;
   
}

.course__info h2,span{
    color: var(--cor8);
    font-size: 17px;
    font-weight: 100;
}

.course__call__to__action{
    display: flex;
    padding: 10px 5px; 
    
}

.course__call__to__action__button{
    width: 100%;
    padding: 10px;
    background-color: var(--cor5);
    color: var(--cor7);
    font-weight: bold;
    border-radius: 3px;
}


.course__call__to__action__button:hover{
    background-color: var(--cor2);
    cursor: pointer;
}

/*-------------------------*/
.courses__info__dash__info{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../assets/image8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.courses__info__dash__info__content{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__info__dash__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.course__info__dash__content h2{
    font-size: 24px;
    color: var(--cor7);  
}

.course__info__dash__content .course__info__line{
    width: 30px;
    border:1.5px solid var(--cor1);
}

.course__info__dash__content span{
    color: var(--cor8);
}
/*---------------------------------*/
.courses__categories{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: fit-content;
    background-color: var(--cor5);
    padding: 40px  0;
}

.courses__categories__container{
    width: 1100px;
    height: 100%;
}

.header__categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.header__categories h2{
    font-size: 24px;
    text-transform: capitalize;
    color: var(--cor7);
    font-weight: bold;
}
.categories__cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.category__card{
    width: 170px;
    padding: 10px;
    background-color: var(--cor7);
    border-radius: 5px;
    text-align: center;
    color: var(--cor5);
    font-weight: bold;
}
.category__card:hover{
    cursor: pointer;
    background-color: var(--cor9);
}
/*-----------------------------------------------------*/
.mentor__experience{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--cor10);
    padding-bottom: 30px;
}

.mentor__experience__container{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__experience__mentor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.header__experience__mentor h2{
    color: var(--cor5);
    text-transform: capitalize;
}
.header__experience__mentor span{
    color: var(--cor5);
    font-weight: bold;
    text-align: center;
}
.container__cards__mentors{
    width: 90%;
    margin-top: 20px;
    gap: 8px;
}

.profissionais__container__conponet{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
}

.profissional__card__componet{
    box-shadow: 0px 2px 4px 0px  rgba(0,0,0,0.4);
    padding-bottom: 25px;
}

.profissional__card__componet__image{
    width: 100%;
    height: 205px;
}

.profissional__card__componet__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profissionais__container__content__conponet{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profissionais__container__content__conponet h2{
    margin-top: 8px;
    font-size: 24px;
    color: var(--cor1);
    text-transform: capitalize;
}

.profissionais__container__content__conponet h3{
    font-size: 20px;
    margin-top: 12px;
    color: var(--cor2);
    font-weight: bold;
    margin-bottom: 10px;
}

.profissionais__container__content__conponet p{
    margin-bottom: 16px;
    text-align: center;
    line-height: 22px;
}

.profissionais__container__content__conponet a{
    background-color: var(--cor1);
    color: var(--cor7);
    font-size: 18px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 40px;
}
.profissionais__container__content__conponet a:hover{
    background-color: var(--cor5);
    color: var(--cor7);
}

/*-------------------*/
.conclusition__courses{
    width: 100%;
    margin-top: 60px;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.conclusition__courses__container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__courses__conclusition{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header__courses__conclusition span{
    color: var(--cor7);
    font-weight: bold;
}

.header__courses__conclusition h2{
    font-size: 22px;
    color: var(--cor7);
    text-transform: uppercase;
}

.cards__courses__concluisition__Benificents{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.card__course__conclusition__beneficent{
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--cor5);
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);;
}

.card__course__conclusition__beneficent:hover{
    cursor: pointer;
    background-color: var(--cor2);
}

.card__course__conclusition__beneficent__icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor7);
    border-radius: 100%;
}

.card__course__conclusition__beneficent h2{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--cor7);
}

.card__course__conclusition__beneficent span{
    font-size: 17px;
    color: var(--cor8);
}


/*-------------------------------------------------------------*/



footer{
    margin-top: 30px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor2);
}

.footer__container{
    width: 1100px
}

.footer__container__content{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid var(--cor1);
}
.footer__about{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__about h1{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--cor7);
    font-weight: bold;
}
.footer__about p{
    line-height: 25px;
    color: var(--cor8);
}
.footer__about__social__media{
    display: flex;
    gap: 15px;
}
.footer__about__social__media__area{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--cor7);
}
.footer__about__social__media__area:hover{
    background-color: var(--cor8);
    cursor: pointer;
}
.footer__links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__links h1{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--cor7);
    font-weight: bold;
}

.footer__links__content{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.footer__links__content a{
    text-decoration: none;
    color: var(--cor8);
}

.footer__contactos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contactos h1{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--cor7);
    font-weight: bold;
}

.footer__contactos__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--cor8);
}

.newsletter__footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsletter__footer h1{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--cor7);
    font-weight: bold;
}
.newsletter__footer p{
    line-height: 25px;
    color: var(--cor8);
}

.footer__form__container{
    display: flex;
}
.newsletter__footer input{
    padding: 8px;
}

.footer__form__container button{
    width: 200px;
    background-color: var(--cor1);
    border: none;
    color: var(--cor7);
    font-weight: bold;
}

.footer__footer{
    margin-top: 30px;
}

.footer__footer h1{
    font-size: 18px;
    color: var(--cor8);
}


/*---------------------------------------------------*/

.header__efeito{
    visibility: hidden;
}